---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

type Props = {
  post: CollectionEntry<"posts">;
};

const { post } = Astro.props;
---

<a href={`/posts/${post.slug}`}>
  <div class="max-w-sm rounded overflow-hidden shadow-lg">
    <Image
      width={350}
      format="webp"
      height={300}
      src={post.data.image}
      alt={post.data.title}
      class="w-full"
    />
    <div class="px-6 py-4">
      <h2 class="font-bold text-xl mb-2">{post.data.title}</h2>
      <p class="text-gray-700 text-base line-clamp-2">{post.body}</p>
    </div>
  </div>
</a>
